[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "==0.9.0"
flake8 = "==3.6.0"
isort = "==4.3.4"

[packages]
bleach = "==2.1.4"
flask = "==1.0.2"
flask-migrate = "==2.2.1"
flask-sqlalchemy = "==2.3.2"
Flask-Login = "==0.4.1"
flask-babel = "==0.12.2"
Flask-Login = "==0.4.1"
flask-babel = "0.12.2"
flask-wtf = "==0.14.2"
pymysql = "==0.9.2"
redis = "==2.10.6"
celery = "==4.2.1"
flask-webpack = "*"

[requires]
python_version = "3.7"
