{% extends "_layout.html" %}


{% block page_content %}
    <div style="margin-bottom: 10px;">
        <a class="btn btn-sm btn-default" href="{@ url_for('home.new_tag') @}">Add</a>
    </div>
    <ul class="list-group">
        {% for tag in tags %}
            <li class="list-group-item">
                {@ tag.name @}
                <div style="float: right;display: inline-block;top: -5px;position: relative;">
                    {% if tag.posts.count() == 0 %}
                        <a class="btn btn-sm btn-danger" href="{@ url_for('home.delete_tag', id=tag.id) @}">Delete</a>
                    {% endif %}
                    <a class="btn btn-sm btn-default" href="{@ url_for('home.edit_tag', id=tag.id) @}">Edit</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
