{% extends "_layout.html" %}


{% block page_content %}
    <article id="post-{@ post.id @}" class="tile post-tile">
        <div class="tile-body post-body">
            <div class="post-meta">
                <span class="post-date">
                    <a href="{@ url_for('home.index', archive_date=moment(post.timestamp).format('YYYYMM')) @}">{@ moment(post.timestamp).format('LL') @}</a>
                </span>
            </div>
            <h3 class="post-title"><a href="{@ url_for('home.post', id=post.id) @}">{@ post.title @}</a></h3>
            <div>
                {@ post.body_html | safe @}
            </div>
            <div class="post-meta">
                <span class="post-author"><a href="{@ url_for('home.index') @}">{@ post.user.username @}</a></span>
                {% if post.category %}
                    <span class="post-delimiter">|</span>
                    <span class="post-category"><a href="{@ url_for('home.index', category_id=post.category.id) @}">{@ post.category.name @}</a></span>
                {% endif %}
                {% set tags = post.tags.all() %}
                {% if tags %}
                    <span class="post-delimiter">|</span>
                    {% for tag in tags %}
                        <span class="post-tag">#<a href="{@ url_for('home.index', tag_id=tag.id) @}">{@ tag.name @}</a></span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="post-meta">
                {% if not current_user.is_anonymous %}
                    <a class="post-do" href="{@ url_for('home.edit_post', id=post.id) @}">edit</a>
                    <a class="post-do" href="{@ url_for('home.delete_post', id=post.id) @}">delete</a>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock %}
