{% extends "_layout.html" %}
{% import "_macros.html" as macros %}


{% block css %}
    {@ super() @}
    {@ stylesheet_tag("editPost") | safe @}
{% endblock %}


{% block content %}
    <!--{@ macros.quick_form(form) @}-->
    <!--<input id="input-id" type="file" class="file" data-preview-file-type="text" >-->
    <div class="container-fluid">
        <div id="app">
            <markdown-editor></markdown-editor>
        </div>
    </div>
{% endblock %}


{% block script %}
    {@ super() @}
    {@ javascript_tag("editPost") | safe @}
{% endblock %}
