.user {
  .user-sidebar {
    padding: 20px 0 10px 0;
    background: $color3;

    .user-sidebar-title {
      text-align: center;
      margin-top: 20px;
      color: $color4;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 7px;
    }

    .user-sidebar-buttons {
      text-align: center;
      margin-top: 10px;

      .btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 6px 15px;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .user-sidebar-social {

    }

    .user-sidebar-menu {
      margin-top: 30px;

      a {

        color: $color7;
        font-size: 14px;
        font-weight: 400;

        &:hover {
          background-color: $color2;
          color: $color1;
        }

        i {
          margin-right: 8px;
          font-size: 14px;
        }
      }

      .active {
        background-color: $color5;

        a {
          color: $color1;
          border-left: 2px solid $color1;
        }
      }


    }
  }


}


