/*
 * basic
 */
body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
/*h1 {*/
    /*font-size: 38px;*/
    /*font-weight: 300;*/
/*}*/

/*h2 {*/
    /*font-size: 32px;*/
    /*font-weight: 300;*/
/*}*/

/*h3 {*/
    /*font-size: 24px;*/
    /*font-weight: 300;*/
/*}*/

/*h4 {*/
    /*font-size: 20px;*/
    /*font-weight: 300;*/
    /*margin-bottom: 17px;*/
/*}*/

/*h5 {*/
    /*font-size: 18px;*/
/*}*/

/*h6 {*/
    /*font-size: 12px;*/
/*}*/

/*h1, h2 {*/
    /*margin-bottom: 24px;*/
/*}*/

/*h3, h4 {*/
    /*margin-bottom: 17px;*/
/*}*/

/*h5, h6 {*/
    /*margin-bottom: 12px;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
    /*line-height: 1.3;*/
    /*color: #404040;*/
    /*margin-top: 0;*/
/*}*/

/*p {*/
    /*margin: 0 0 24px;*/
/*}*/

/*small {*/
    /*font-size: 90%;*/
/*}*/

/*a {*/
    /*color: #ff3366;*/
/*}*/

/*hr {*/
    /*margin-top: 24px;*/
    /*margin-bottom: 24px;*/
    /*border: 0;*/
    /*border-top: 1px solid #e2e2e2;*/
/*}*/

/*dl {*/
    /*margin-top: 0px;*/
    /*margin-bottom: 24px;*/
/*}*/

/*dt {*/
    /*color: #404040;*/
    /*font-weight: bold;*/
/*}*/

/*dd {*/
    /*margin-left: 0px;*/
    /*margin-bottom: 15px;*/
/*}*/

/*dd, dt {*/
    /*line-height: 1.5;*/
/*}*/

/*ol, ul {*/
    /*padding-left: 18px;*/
    /*margin-top: 0;*/
    /*margin-bottom: 24px;*/
    /*line-height: 1.8;*/
/*}*/

/*
 * button
 */
.button-ghost {
    border-radius: 18px;
    background-color: transparent;
    color: #ff3366;
    border-color: #ff3366;
    padding: 0 25px;
    line-height: 36px;
    /*height: 36px;*/
}

a.button-ghost:hover {
    color: #fff;
    border-color: #ff3366;
    background-color: #ff3366;
}

/*
 * tile
 */
.tile {
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.tile .tile-body {
    padding: 22px;
}

.tile a {
    text-decoration: none;
}

/*
 * post-tile
 */
.post-tile {

}

.post-tile .post-meta {
    display: table;
    margin-bottom: 16px;
}

.post-tile .post-meta .post-date {
    font-size: 12px;
}

.post-tile .post-meta .post-author {
    display: inline-block;
    font-size: 13px;
    color: #aeaeae;
    margin-right: 8px;
}

.post-tile .post-meta .post-delimiter {
    color: #aeaeae;
    margin-right: 8px;
}

.post-tile .post-meta .post-category {
    display: inline-block;
    font-size: 13px;
    color: #aeaeae;
    margin-right: 8px;
}

.post-tile .post-meta .post-tag {
    display: inline-block;
    font-size: 13px;
    color: #aeaeae;
    margin-right: 8px;
}

.post-tile .post-meta .post-do {
    display: inline-block;
    font-size: 13px;
    color: #aeaeae;
    margin-right: 8px;
}

.post-tile .post-meta .post-date a,
.post-tile .post-meta .post-author a,
.post-tile .post-meta .post-delimiter a,
.post-tile .post-meta .post-category a,
.post-tile .post-meta .post-tag a {
    color: #aeaeae;
    text-decoration: none;
}

.post-tile .post-meta .post-date a:hover,
.post-tile .post-meta .post-author a:hover,
.post-tile .post-meta .post-category a:hover,
.post-tile .post-meta .post-tag a:hover,
.post-tile .post-meta .post-do:hover {
    color: #ff3366
}

.post-tile .post-body .post-title {
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 17px;
}

.post-tile .post-body .post-title > a {
    color: #777;
}

.post-tile .post-body .post-title > a:hover {
    color: #ff3366
}

.post-tile .post-body p {
    /*margin: 0 0 24px;*/
    color: #808080;
    /*line-height: 1.5;*/
    /*font-size: 14px;*/
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
 * sidebar
 */
.sidebar {
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.sidebar .widget {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 38px;
}

.sidebar .widget .current {
    color: #ff3366;
}

.sidebar .widget .current span {
    color: #fff;
    background-color: #ff3366;
}

.sidebar .widget .widget-title {
    font-size: 15px;
    color: #404040;
    border-bottom: 1px solid #eee;
    margin-bottom: 11px;
    margin-left: -24px;
    margin-right: -24px;
    padding: 0 24px 16px;
}

.widget-categories > ul {
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-categories > ul li {
    border-top: 1px solid #eee;
}

.widget-categories > ul li:first-child {
    border-top: none;
}

.widget-categories > ul li a {
    display: block;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #3d4652;
    padding: 11px 0;
}

.widget-categories > ul li a .count {
    /*height: 20px;*/
    line-height: 20px;
    border-radius: 10px;
    color: #3d4652;
    background-color: #eee;
    padding: 1px 6px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    right: 0;
    transition: all 0.3s;
}

.widget-categories > ul li:hover a {
    color: #ff3366;
}

.widget-categories > ul li:hover span {
    color: #fff;
    background-color: #ff3366;
}

.widget-tags a {
    display: inline-block;
    /*height: 30px;*/
    line-height: 30px;
    color: #3d4652;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 5px 0 12px;
    margin: 0 5px 12px 0;
    font-size: 14px;
}

.widget-tags > a:hover {
    color: #ff3366;
}

.widget-tags > a:hover span {
    color: #fff;
    background-color: #ff3366;
}

.widget-tags a span {
    display: inline-block;
    background-color: #eee;
    border-radius: 10px;
    /*height: 20px;*/
    line-height: 20px;
    padding: 1px 6px;
    margin-left: 5px;
    color: #3d4652;
}

.widget-archives > ul {
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-archives > ul li {
    border-top: 1px solid #eee;
}

.widget-archives > ul li:first-child {
    border-top: none;
}

.widget-archives > ul li a {
    display: block;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #3d4652;
    padding: 11px 0;
}

.widget-archives > ul li a .count {
    /*height: 20px;*/
    line-height: 20px;
    border-radius: 10px;
    color: #3d4652;
    background-color: #eee;
    padding: 1px 6px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    right: 0;
    transition: all 0.3s;
}

.widget-archives > ul li a:hover {
    color: #ff3366;
}

.widget-archives > ul {
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-archives > ul li {
    border-top: 1px solid #eee;
}

.widget-archives > ul li:first-child {
    border-top: none;
}

.widget-archives > ul li a {
    display: block;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #3d4652;
    padding: 11px 0;
}

.widget-archives > ul li:hover a {
    color: #ff3366;
}

.widget-archives > ul li:hover span {
    color: #fff;
    background-color: #ff3366;
}

/*
 * pagination
 */
.pagination {
    display: table;
    margin: 0 auto;
    padding: 24px 0;
}

.pagination .nav-links a {
    display: inline-block;
    font-size: 14px;
    color: #3d4652;
    margin: 0 6px 0 6px;
    text-decoration: none;
}

.pagination .nav-links .current {
    color: #ff3366;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination .nav-links .prev > i {
    margin-right: 5px;
}

.pagination .nav-links .next > i {
    margin-left: 5px;
}

.pagination .nav-links a:hover {
    color: #ff3366;
}

.pagination .nav-links .disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #777 !important;
}


/*
 * login form
 */
.login-form {
    width: 500px;
    margin: 0 auto;
    padding-top: 60px;
}

