{% macro show_nav_badge(count, _class) %}
    {% if count > 0 %}
        <span class="badge badge-pill badge-danger {@ _class @}">{% if count < 100 %}{@ count @}{% else %}{@ '99+' @}{% endif %}</span>
    {% endif %}
{% endmacro %}


<!-- block html -->
{% block html %}
    <!DOCTYPE {% block html_version %}html{% endblock %}>
    <html>
    <!-- block head -->
    {% block head %}
        <head>
            <!-- block meta -->
            {% block meta %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {% endblock %}
            <!-- block css -->
            {% block css %}
                {@ stylesheet_tag("vendor") | safe @}
                {@ stylesheet_tag("main") | safe @}
            {% endblock %}
        </head>
    {% endblock %}
    <body>
    <div id="app">
        <!-- block navbar -->
        {% block navbar %}
            <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
                <a class="navbar-brand ml-5" href="{@ url_for('home.index') @}">Newo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {@ 'active' if request.endpoint == 'home.index' else '' @}">
                            <a class="nav-link" href="{@ url_for('home.index') @}">Home<span class="sr-only"></span></a>
                        </li>
                    </ul>

                    <ul class="navbar-nav mr-5">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle nav-link-icon" href="#" id="navbarDropdown"
                                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i data-feather="edit"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{@ url_for('blog.new_post') @}">Post</a>
                                    <a class="dropdown-item" href="{@ url_for('auth.logout') @}">Logout</a>
                                </div>
                            </li>
                            <li class="nav-item" style="position: relative;">
                                <a class="nav-link nav-link-icon" href="javascript:void(0);" id="notificationLink">
                                    <i data-feather="bell"></i>
                                </a>
                                {@ show_nav_badge(total_notice_count, 'notification-badge') @}
                                <div class="notification-panel d-none" id="notificationPanel">
                                    <div class="panel">
                                        <div class="panel-heading">
                                        </div>
                                        <div class="panel-body notification-panel-body" id="notificationBody">
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-6"></div>
                                                <div class="col-6">
                                                    <a href="{@ url_for('home.show_notifications') @}" class="float-right">View All<i data-feather="chevrons-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item" style="position: relative;">
{#                                <a class="nav-link nav-link-icon" href="javascript:void(0);" id="messageLink">#}
{#                                    <i data-feather="message-square"></i>#}
{#                                </a>#}
{#                                {@ show_nav_badge(total_message_count, 'message-badge') @}#}
{#                                <div class="message-panel d-none" id="messagePanel">#}
{#                                    <div class="panel">#}
{#                                        <div class="panel-heading">#}
{#                                        </div>#}
{#                                        <div class="panel-body">#}
{#                                        </div>#}
{#                                        <div class="panel-footer">#}
{##}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                            </li>
                            <li class="nav-item ml-2">
                                <a class="pl-4 pr-1" style="display: block;"
                                   href="{@ url_for('user.overview', username=current_user.username) @}">
                                    <img class="rounded" src="{@ current_user.gravatar(40) @}">
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item {@ 'active' if request.endpoint == 'auth.login' else '' @}">
                                <a class="nav-link" href="{@ url_for('auth.login') @}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock %}

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="container">
                    {% for category, message in messages %}
                        {% set category = 'primary' if category == 'message' else category %}
                        <div class="alert alert-{@ category@} alert-dismissible fade show mr-auto ml-auto" role="alert">
                            {% if category in ['warning', 'info', 'success', 'error'] %}
                                <strong>{@ category | capitalize @}!</strong>
                            {% endif %}
                            {@ message @}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- block content -->
        {% block content %}
        {% endblock %}

        <!-- block script -->
        {% block script %}
            {@ javascript_tag("vendor") | safe @}
            {@ javascript_tag("main") | safe @}
        {% endblock %}
        <div>
    </body>
    </html>
{% endblock %}

