{% macro show_pagination(endpoint, pagination) %}
    {% if pagination and pagination.total > 0 %}
        <nav class="pagination">
            <div class="nav-links">
                <a class="prev {@ 'disabled' if not pagination.has_prev else '' @}"
                   href="{@ url_for(endpoint, page=pagination.page-1, **kwargs) @}"><i class="icon-arrow-left"></i>Prev</a>
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page != pagination.page %}
                            <a href="{@ url_for(endpoint, page=page, **kwargs) @}">{@ page @}</a>
                        {% else %}
                            <a href="" class="current">{@ page @}</a>
                        {% endif %}
                    {% else %}
                        <span class="dots">…</span>
                    {% endif %}
                {% endfor %}
                <a class="next {@ 'disabled' if not pagination.has_next else '' @}"
                   href="{@ url_for(endpoint, page=pagination.page+1, **kwargs) @}">Next<i class="icon-arrow-right"></i></a>
            </div>
        </nav>
    {% endif %}
{% endmacro %}


{% macro quick_form(form, action, method='post', id=None) %}
    <form id="{@ form.name @}" method="{@ method @}" action="{@ action @}">
        {@ form.hidden_tag() @}
        {% for field in form %}
            {% if not is_hidden_field(field) %}
                {% if field.type == 'SubmitField' %}
                    <div class="form-group ">
                        {@ field(class_='btn btn-primary btn-sm') @}
                    </div>
                {% else %}
                    <div class="form-group">
                        {@ field.label @}
                        {% set is_invalid = ' is-invalid' if form.errors[field.name] else '' %}
                        {@ field(class_='form-control form-control-sm' + is_invalid) @}
                        {% for error in form.errors[field.name] %}
                            <div class="invalid-feedback">{@ error @}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}
